{
  "clusters": [
    {
      "nodes": [
       {% for server in groups['gfs'] %}
        {
          "node": {
            "addresses": {
              "manage": [
	        "{{ hostvars[server]['ansible_' + gfs_interface]['ipv4']['address'] }} "
              ],
              "storage": [
                "{{ hostvars[server]['ansible_' + gfs_interface]['ipv4']['address'] }} "
              ]
            },
            "zone": dev
          },
          "devices": [
            "{{ HEKETI_DISK }}"
          ]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
      ]
    }
  ]
}
